# Minecraft World Files #
#########################
*.dat
*.dat_old
*.lock
*.mca

# Minecraft Session/Log Files #
###############################
*.lock
*.log
*.log.gz
*.json

# Minecraft Server/Plugin Files #
#################################
*.yml
*.properties
